.formatting {
    padding: 10px;
    text-decoration: none
}

a:hover {
    background-color: blueviolet;
    transition: margin-right 2s ease-in-out .5s;;
}

a {
text-decoration: none;
}

body {
    text-align: center
}
